<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đơn hàng</title>
</head>

<body>
    <div class="col-md-12">
        <div class="col-12 text-center">
            <h2> Successfully ! </h2>
            <a href="/admin" class="btn btn-outline-secondary"><i class="fas fa-backward"></i></a>
        </div>


</body>

</html>