<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Introduction</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Shipping</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Payment</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Login</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Sign in</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Sign up</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Address</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>37/8c Trinh Dinh Thao, Hoa Thanh, Tan Phu</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Tel: 0909090909</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>minhthienpham0611@gmail.com</a></li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            </hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="xam"><b><a href="#">MT Best Betta</a></b> - No. 1 ornamental fish in Vietnam</p>
                <p class="h6 xam">&copy All right Reversed.<a class="text-green ml-2" href="" target="_blank">MTP</a></p>
            </div>
            </hr>
        </div>
    </div>
</section>