.menu {
    padding: 1.5rem 0rem !important;
    font-weight: 800;
}

.menu a {
    color: yellow !important;
}

.x {
    position: relative;
    border-radius: 20px;
    border: solid 1px #000;
    color: rgb(16, 8, 43) !important;
}

.xyz li>a {
    color: rgb(84, 50, 206) !important;
    text-decoration: none;
}

.xyz li,
.abc {
    background: rgb(14, 13, 13) !important;
    color: antiquewhite;
}

.xyz {
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    top: 100%;
}