<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đơn hàng</title>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contacts</li>
            </ol>
        </nav>
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">email</th>
                        <th scope="col">contents</th>
                        <th scope="col">Task</th>
                    </tr>
                </thead>
                <tbody>
                    <% contacts.forEach(function (contact) { %>
                        <tr>
                            <td scope="row">
                                <%= contact.name %>
                            </td>
                            <td scope="row">
                                <%= contact.tel %>
                            </td>
                            <td scope="row">
                                <%= contact.email %>
                            </td>
                            <td scope="row">
                                <%= contact.comments %>
                            </td>
                            <td><a href="/admin/donhangdt"><i class="fas fa-eye"></i></a>&nbsp;&nbsp;
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
</body>

</html>