<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add products</li>
            </ol>
        </nav>
        <div class="container">
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data">

                <% if (message) { %>
                    <div class="alert alert-warning form-group" role="alert">
                        <%= message %>
                    </div>
                    <% } %>
                        <div class="form-group">
                            <select class="custom-select col-2" name="option">
                            <option selected>Kind of product</option>
                            <option selected value="1">Fish</option>
                            <option value="2">Aquarium</option>
                            <option value="3">Aquatic Plant</option>
                        </select>
                        </div>
                        <label>Images</label>
                        <div class="form-group">

                            <input type="file" name="image">
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" name="title" placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label>Product id</label>
                            <input type="text" class="form-control" name="id" placeholder="Enter products id">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Price</label>
                            <input type="number" class="form-control" name="price" placeholder="Enter price">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Quantity</label>
                            <input type="number" class="form-control" name="quantity" placeholder="Enter quantity">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
</body>

</html>